LIST OF STUDENTS
<ul class="students">
<% for(var i=0;i<students.length;i++) { %>
<li class="students">
<span><%= "USN : "+students[i].usn %></span>
<span><%= "NAME : "+students[i].name %></span>
<span><%= "SUBJECT CODE : "+students[i].sub %></span>
<span><%= "CIE MARKS : "+students[i].cie %></span>
</li>
<% } %>
</ul>