LIST OF STUDENTS
<ul class="students">
<% for(var i=0;i<students.length;i++) { %>
<li class="students">
<span><%= "NAME : "+students[i].name %></span>
<span><%= "USN : "+students[i].usn %></span>
<span><%= "DEPARTMENT : "+students[i].dept %></span>
<span><%= "GRADE : "+students[i].grade %></span>
</li>
<% } %>
</ul>