LIST OF MOVIES
<ul class="movies">
<% for(var i=0;i<movies.length;i++) { %>
<li class="movies">
<span><%= "NAME : "+movies[i].name %></span>
<span><%= "BUDGET : "+movies[i].budget %></span>
<span><%= "HERO : "+movies[i].hero %></span>
<span><%= "HEROINE : "+movies[i].heroine %></span>
</li>
<% } %>
</ul>